#presentation .CodeMirror pre  {
	box-shadow: none;
	font-size: 48%; /*53%;*/
	line-height: 1.6;
	font-family: monospace;
}
#presentation .CodeMirror-scroll {
	max-height: 100%;
	height: auto;
}
#presentation .demo > .CodeMirror-wrap {
	width: 55%;
	float: left;
	clear: left;
}
#presentation .reveal .control-group {
	width: 50%;
	float: left;
	margin-bottom: .3em;
}
#presentation .control-group input {
	margin-left: .5em;
}
#presentation .control-group label {
	font-size: 50%;
	line-height: 1.4;
	position: relative;
	top: .1em;
	margin-left: .2em;
}
#presentation .nav li {
	list-style: none;
}
.control-label,
.reveal .controls {
	float: right;
}
#presentation .reveal .target-controls {
	float: right;
	line-height: 0;
	margin-top: .2em;
}
.reveal a.btn {
	float: right;
	margin-left: 2em;
	border-radius: 1em;
}
.compiler-out .nav-tabs li a,
.reveal a.btn {
	font-size: 60%;
	padding: .4em 1em;
	line-height: 1;
	background: #111;
	color: #fff;
}
.reveal .compiler-out {
	position: relative;
	margin-left: 1em;
	background: #272822;
	width: 42%;
}
.reveal .compiler-out, .messages {
	float: left;
}
.compiler-out .nav-tabs {
	width: 100%;
	float: left;
	display: block;
	list-style: none;
	margin-top: -1.37em;
}
.compiler-out .nav-tabs li {
	float: left;
	display: block;
}
.compiler-out .nav-tabs li a {
	border-radius: 1em 1em 0 0;
}
.compiler-out .nav-tabs li.active a {
	background: #272822;
}
.tab-pane                  { display: none; }
.tab-pane.active           { display: block; }
#presentation .reveal .messages { font-size: 70%; width: 100%; }
.reveal .js-output,
    .reveal .messages      { padding: .5em; }
.reveal iframe             { width: 100%; background: #fff; height: 40%; max-width: none; }
.compiler-out              { display: none; }
.reveal .CodeMirror-scroll { padding: .1em .4em; max-height: 17em; overflow: scroll; }
#presentation .reveal .messages pre {
	margin: 0;
	box-shadow: none;
	font-size: 46%;
	float: left;
}
#presentation .messages i.msg {
	position: absolute;
	left: -.3em;
	top: -1.5em;
	font-size: 125%;
}
#presentation .messages i.icon-check  { color: #A6E22E; }
#presentation .messages i.icon-cancel { color: #F92672; }

.reveal.cube .slides section:not(.stack):before { background: none; }
.reveal.cube .slides section:not(.stack):after { box-shadow: none; }
#presentation .reveal section img {
	margin: 0;
	background: none;
	border: none;
	box-shadow: none;
	transition: none;
	-webkit-transition: none;
}

/*#title {
	background: #3a251a;
	height: 100%;
}*/
#title #prime-face {
	margin: 3% auto;
	display: block;
	max-width: 20%;
	background: #3a251a;
	border-radius: 50%;
	padding: .3em 2em 1.3em;
	border: 18px solid #ccc;
}
#title #primevc {
	width: 35%;
	margin-bottom: 1%;
}
#title p {
	text-align: right;
	font-size: 70%;
}
#presentation .reveal .messages pre.args {
	font-size: 45%;
}
#about-us ol span.note {
	display: none;
}
/*#about-us ol {
	list-style: none;
}*/

ol.timeline {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}
.timeline.begin:before, .timeline.end:after {
	display: block;
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
	content: "";
}
.timeline.begin:before { background: #fb5244; margin: 0 auto 0; }
.timeline.end:after    { margin: 0 auto 0; border: 4px solid #fb5244; }

.timeline li {
	margin: -.5em auto 0;
	width: 30%;
	border: 0 solid #fb5244;
	padding: .5em 0;
	position: relative;
}
.timeline li:nth-child(even):before {
	width: 20%;
}
.timeline li:nth-child(odd):before {
	width: 100%;
}
.timeline li:before {
	border-top: 3px solid #fb5244;
	position: absolute;
	top: 1.2em;
	content: "";
}
.timeline li:nth-child(even) {
	border-left-width: 4px;
	left: 15%;
}
.timeline li:nth-child(odd) {
	border-right-width: 4px;
	right: 15.01%;
}
.timeline i {
	position: relative;
	line-height: 1;

	border-radius: 50%;
	font-size: 1em;
	color: #fff;
}


.timeline li h3 {
	background: #fb5244;
	padding: 5px 20px;
	color: #fff;
	display: inline;
	position: relative;
	border-radius: 30px 30px;
	text-transform: none;
}
.timeline li:nth-child(even) h3, .timeline li:nth-child(even) p {
	margin-left: 20%;
	margin-bottom: 0;
}


.timeline li p {
	padding: 1em 13% 2em 7%;
	width: 70%;
}
i.icon-emo-shoot {
	padding-right: 1em;
}

#prime-overview {
	height: 100%;
}
#prime-overview ul {
	list-style: none;
	display: block;
	position: relative;
	height: 100%;
	margin: 0;
	padding:0;
}
#prime-overview li {
	position: absolute;
	display: block;
	margin: 0;
	padding:0;
}
#prime-overview li span {
	margin-left: .3em;
	position: relative;
	display: block;
	top: 1.5em;
	left: -.5em;
	text-align: center;
	min-width: 5.7em;
	font-size: 70%;
}
#presentation i.prime {
	background: #3a251a;
	border-radius: 50%;
	padding: .3em .2em;
	border: 10px solid #ccc;
	color: #fff;
	font-size: 1.8em;
}
#overview-core       { left: 45%; top: 43%; }
#overview-signals    { left: 45%; top: 2%; }
#overview-bindable   { left: 65%; top: 25%; }
#overview-mvc        { left: 68%; top: 59%; }
#overview-display    { left: 53%; top: 85%; }
#overview-layout     { left: 31%; top: 79%; }
#overview-components { left: 21%; top: 49%; }
#overview-css        { left: 27%; top: 18%; }


#presentation ul.dependencies {
	list-style: none;
}
#presentation ul.dependencies li {
	float: left;
	margin-bottom: .3em;
}
#presentation ul.dependencies li i.prime {
	font-size: 100%;
	border-width: 4px;
}
#presentation ul.dependencies li:not(:last-child):after {
	content: "+";
	font-size: 1.3em;
	font-weight: bold;
	margin: 0 .4em;
}

#presentation i.lib.prime {
	position: absolute;
	top: .3em;
	left: 2em;
	padding: .4em .2em;
}

#mvc,
  #mvc-overview   { height: 100%; }
#mvc-overview img { position: absolute; top: 10%; left: 18%; }
#svg-mvc-facade   {  }
#svg-mvc-logic    { top: 0%; left: 0%; }
#svg-mvc-model    { top: 0%; left: 0%; }
#svg-mvc-states   { top: 0%; left: 0%; }
#svg-mvc-events   { top: 0%; left: 0%; }
#svg-mvc-view     { top: 0%; left: 0%; }

/*#layoutclients img.fragment { position: relative; }*/
#presentation #layout-actors2 { margin-left: -17%; }

#presentation #team ul {
	margin: 0;
	list-style: none;
}
#presentation #team li { float: left; }
#presentation #team img {
	width: 5em;
	border-radius: 50%;
	border: 7px solid #eee;
	margin: 0 1em .5em;
}
#presentation #team h3 {
	font-size: 100%;
	text-align: center;
}

#presentation .dl-horizontal:before,
#presentation .dl-horizontal:after {
  display: table;
  line-height: 0;
  content: "";
}

.dl-horizontal:after {
  clear: both;
}

#presentation .dl-horizontal dt {
  float: left;
  width: 27%;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-style: italic;
}

.dl-horizontal dd {
  margin-left: 30%;
  text-align: left;
}
