.CodeMirror pre  {
	box-shadow: none;
	font-size: 53%;
	line-height: 1.6;
	font-family: monospace;
}
.CodeMirror-scroll {
	max-height: 100%;
	height: auto;
}
.demo > .CodeMirror-wrap {
	width: 50%;
	float: left;
	clear: left;
}
.reveal .control-group {
	width: 50%;
	float: left;
	margin-bottom: .3em;
}
.control-group input {
	margin-left: .5em;
}
.control-group label {
	font-size: 50%;
	line-height: 1.4;
	position: relative;
	top: .1em;
	margin-left: .2em;
}
.nav li {
	list-style: none;
}
.control-label,
.reveal .controls {
	float: right;
}
.reveal .target-controls {
	float: right;
	line-height: 0;
	margin-top: .2em;
}
.reveal a.btn {
	float: right;
	margin-left: 2em;
	border-radius: 1em;
}
.compiler-out .nav-tabs li a,
.reveal a.btn {
	font-size: 60%;
	padding: .4em 1em;
	line-height: 1;
	background: #111;
	color: #fff;
}
.reveal .compiler-out {
	position: relative;
	width: 48%;
	float: left;
	margin-left: 1em;
	margin-right: -1em;
}
.compiler-out .nav-tabs {
	width: 100%;
	float: left;
	display: block;
	list-style: none;
	margin-top: -1.37em;
}
.compiler-out .nav-tabs li {
	float: left;
	display: block;
}
.compiler-out .nav-tabs li a {
	border-radius: 1em 1em 0 0;
}
.compiler-out .nav-tabs li.active a,
.tab-content {
	background: #272822;
}
.tab-pane                  { display: none; }
.tab-pane.active           { display: block; }
.reveal .messages          { font-size: 70%; }
.reveal .js-canvas         { padding: 1em .5em 0; }
.reveal iframe             { width: 100%; background: #fff; }
.compiler-out              { display: none; }
.reveal .CodeMirror-scroll { padding: .1em .4em; }
.reveal .messages pre {
	margin: 0;
	padding: 1em;
	background: #272822;
	box-shadow: none;
	font-size: 50%;
}
.messages i.msg {
	position: absolute;
	left: -.3em;
	top: -1.5em;
	font-size: 125%;
}
.messages i.icon-check  { color: #A6E22E; }
.messages i.icon-cancel { color: #F92672; }